doctype html
html.mdc-typography
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= htmlWebpackPlugin.options.title
        link(rel='shortcut icon' href='/favicon.ico')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
        #root